@font-face {
    font-family: Thailand;
    src: url(fonts/THAILAND.TTF);
}
body {
    background-color: #c1a9f0;
    padding: 20px 30px;
    color: rgb(0, 0, 100);
}
h1 {
    font-family: Thailand;
    color: rgb(207, 0, 134);
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(130, 0, 65);
    margin-top: 40px;
    margin-bottom: 20px;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
    margin-left: 30px;
    margin-bottom: 10px;
}
li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:link, a:visited {
    text-decoration: none;
    color: rgb(152, 0, 147);
    font-weight: 900;
    font-style: italic;
}
a:hover {
    text-decoration: none;
    color: red;
}