@font-face {
    font-family: AltoneLight;
    src: url(fonts/AltoneLight.TTF)
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: AltoneLight;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(22, 60, 96);
}
.banner {
    max-width: 100%;
    height: auto;
}
.button {
    text-align: center;
    margin: 0px 20px;
    padding: 10px;
    background-color: white;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-family: AltoneLight;
}
.buttons button {
    text-align: center;
    margin: 0px 20px;
    padding: 10px;
    background-color: white;
    border: none;
    display: inline-block;
    cursor: pointer;
}
.buttons {
    text-align: center;
}
.main {
    background-color: white;
}
.video {
    max-width: 100%;
    height: auto;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.imgmain {
    margin: 20px;
}
.whatson {
    margin: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.socials {
    text-align: center;
}
p {
    font-size: 12pt;
    padding: 4px;
}
h1 {
    font-weight: bold;
    font-size: 16pt;
    color: rgb(22, 60, 96);
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-style: italic;
    color: rgb(50, 50, 255);
    margin-top: 10px;
}